<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/AjaxLogin.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here.", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.UserName)
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.Password)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.Password)
                                    @Html.ValidationMessageFor(m => m.Password)
                                </td>
                                 <td>
                                     <input type="submit" value="Log On" title="Log On" />
                                </td>
                            </tr>
                         </table>
                    </section>
                    @if (Request.IsAuthenticated)
                    {
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Create Person", "CreatePersonPage", "PersonManagement")</li>
                            <li>@Html.ActionLink("View Person", "PersonOverview", "PersonManagement")</li>
                            <li>@Html.ActionLink("Mitarbeiter", "EmployeeOverview", "PersonManagement")</li>
                        </ul>
                    </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
          <!--  @RenderSection("featured", false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>-->
            @model Logic.Entities.Employee
           
        <table border="0" width="100%" cellspacing="0" cellpadding="5" summary="Layout">
             <tr>
                  <td width="60%" ><!--bgcolor="yellow"-->
                    <a><img src="../../Images/menschenkette.png" /></a>
                  <td width="40%">
                    <font size="+6" color="003366">Register</font>
                    <table>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Firstname)
                            </td>
                            <td>
                                 @Html.TextBoxFor(m => m.Firstname)
                                 @Html.ValidationMessageFor(m => m.Firstname)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Surname)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Surname)
                                @Html.ValidationMessageFor(m => m.Surname)
                            </td>
                        </tr>
                         <tr>
                            <td>
                                @Html.LabelFor(m => m.UserName)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.UserName)
                                @Html.ValidationMessageFor(m => m.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Password)
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.ConfirmPassword)
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.ConfirmPassword)
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.TelephoneNumber)
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.TelephoneNumber)
                                @Html.ValidationMessageFor(m => m.TelephoneNumber)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Email)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Email)
                                @Html.ValidationMessageFor(m => m.Email)
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Log On" title="Register" />
                            </td>
                        </tr>
                    </table>
                  </td>
             </tr>
        </table>
   
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://www.facebook.com/flexbit" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
